.sky-simulation {
    margin-top: 50px;
position: relative;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

.map {
    margin-top: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}


.controller {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.controller-block {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer; /* Додаємо курсор, щоб показати, що блоки можна натискати */
}




.test{
    color: rgb(48, 48, 48);
}